@charset "UTF-8";

/* Body
-------------------------- */

body {
    text-align: center;
}

/* Buttons
-------------------------- */

.buttons {
    line-height: 96px;
}

button {
    display: inline-block;
    height: 28px;
    margin: 0 3px;
    padding: 0 10px;
    border: 0;
    border-radius: 999px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    background-color: #ccc;
    cursor: pointer;
}

button[data-mp3] {
    width: 90px;
    height: 90px;font-size: 12px;
    line-height: 90px;
}

button[data-mp3] span {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

button:focus,
button:hover {
    outline: 0;
    background-color: #dedede;
}

button.current {
    background-color: #999;
}