@charset "UTF-8";

/* Body
-------------------------- */

body {
    margin: 0;
    padding: 40px 0 45px;
    text-align: center;
    font: 12px sans-serif;
}

/* Bars
-------------------------- */

h1,
.toolbar {
    z-index: 2;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    background-color: #f0f0f0;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

/* Title */

h1 {
    top: 0;
    height: 40px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
    line-height: 40px;
}

/* Toolbar */

.toolbar {
    bottom: 0;
    height: 30px;
    padding: 10px;
    text-align: left;
    line-height: 30px;
}

.toolbar .fork {
    float: right;
    color: #676767;
}

.toolbar .fork:hover {
    text-decoration: none;
}

/* Buttons
-------------------------- */

.buttons {
    z-index: 1;
    position: relative;
    padding: 6px;
    line-height: 96px;
}

button {
    display: inline-block;
    height: 28px;
    margin: 0 3px;
    padding: 0 10px;
    border: 0;
    border-radius: 999px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: 0;
    background-color: #ccc;
    cursor: pointer;
}

button[data-mp3] {
    width: 90px;
    height: 90px;
    font-size: 12px;
    line-height: 90px;
}

@media(min-width:720px) {
    .buttons {
        padding: 20px 100px;
        line-height: 110px;
    }

    button[data-mp3] {
        margin: 0 10px;
    }
}

button[data-mp3] span {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

button:focus,
button:hover {
    outline: 0;
    background-color: #dedede;
}

button.current {
    background-color: #999;
}